@import "tailwindcss";

@theme {
  --font-display: var(--font-display);
  --font-body: var(--font-body);
  --font-mono: var(--font-mono);
}

:root {
  --color-background: #000000;
  --color-primary: #00E599;
  --color-text: #FFFFFF;
  --color-text-secondary: #98A2B3;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}